/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EAEAEA;
}

#title {
  text-align: center;
  margin: 20px auto;
  padding: 20px 0px;
}

/* Index page */
.table-title {
  margin-bottom: 10px;
}

#map-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  justify-content: start;
}

.map-box {
  flex: 16.66%;
  max-width: 16.66%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  color: white;
  text-decoration: inherit;
}

.map-box-map {
  flex-basis: 100%;
  align-items: stretch;
  background: grey;
}

.map-box-map object {
  width: 100%;
}

.map-box-img {
  width: 100%;
  height: auto;
}

.map-box-label {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: grey;
  font-size: 18px;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}

.section-column {
  flex: 50%;
  max-width: 50%;
  padding: 5px;
  overflow: hidden;
}
.section-inner-column {
  flex: 50%;
  padding: 5px;
  overflow: hidden;
}

.section-collapsible-button {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.section-collapsible-title {
  float: left;
  font-size: 18px;
}

.section-collapsible-icon {
  float: right;
}

.active, .section-collapsible-button:hover {
  background-color: #555;
}

.section-collapsible-content {
  padding: 15px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.section-table {
  border-collapse: collapse;
  width: 100%;
}

.section-table th {
  font-size: 16px;
}

.section-table th, .section-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
}

.section-table tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 1150px) {
  .section-column {
    flex: 100%;
    max-width: 100%;
  }

  .map-box {
    flex: 33.33%;
    max-width: 33.33%;
  }
}

/* Map pages */
#map-container {
  margin: 0 auto;
  overflow: hidden;
  background-color: #3B3B38;
  width: 80%;
  margin-bottom: 30px;
}

.zoom-controls {
  float: left;
  padding: 5px 10px;
}
.zoom-reset {
  display: inline-block;
  padding: 0px 6px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.zoom-in {
  display: inline-block;
  padding: 0px 6px;
}
.zoom-out {
  display: inline-block;
  padding: 0px 6px;
}

#svg-container {
  width: 100%;
  overflow: hidden;
}

#svg-map {
  display: block;
  background-color: #3B3B38;
  cursor: all-scroll;
  margin: auto;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* Navbar */
.navbar-container {
  max-height: 60px;
  background-color: #3B3B38;
  padding: 0px 15px;
  font-weight: 700;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo, #site-logo {
  height: 60px;
}

#site-logo .logo {
  fill: white;
}

#site-logo .icon {
  stroke: white;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,.1);
}

.nav-toggle {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggle span, 
.nav-toggle span:before, 
.nav-toggle span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggle span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggle span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggle.toggle-open span {
  background-color: transparent;
}
.nav-toggle.toggle-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggle.toggle-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .navbar-wrapper {
    max-width: 720px;
  }
  .nav-toggle{
    display: block;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: #444;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .navbar ul li {
    width: 100%;
    text-align: center;
  }
  .navbar ul li a {
    padding: 25px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

/* SweetAlert2 */
.swal2-popup.swal2-toast.swal2-show {
  top: 65px !important;
}